*{
    margin: 0px;
    padding: 0px;
}

/*title of heading*/
.lg-text{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #009FAA ;
}

/*About*/
#about{
    margin-top: 2rem;
}
#about .card{
    border: none;
}
#about a{
    text-decoration: none;
    color: #009FAA;
}
#about .widget {
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgb(0 159 170 / 20%);
}
#about  .fa-3x{
    color: #009FAA;
    font-size: 36px;
}




