*{
    margin: 0px;
    padding: 0px;
}
/*title of heading*/
.lg-text{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #009FAA ;
}

#Shout .card img{
   width: 180px;
   height: 180px;
   align-items: center;
   display: block;
   margin: 0 auto;
}

#Shout .card{
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 0 20px rgb(0 159 170 / 20%);
}
#Shout .card-title{
   font-size: 1.25rem;
   color: #009FAA;
   word-break: break-word;
   overflow: hidden;
   text-overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;

}
#Shout .card-text{
   font-size: 1rem;
   word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;

}
#Shout .location{
    width: 100%;
    padding: 15px;
    background-color: #F7F7F7;
    color: #009FAA;
    border-left: 5px solid #009FAA;
}
#Shout .location i {
    font-size: 14px;
}
#Shout .btn-sm{
    font-size: 14px;
    background-color: #009FAA;
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
}


